*{
    margin: 0;
    padding: 0;
}
body{
     background-color: black;
     display:flex;
     justify-content: center;
     align-items: center;
}
.body{
    background-color: rgb(225, 73, 73);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    min-height:60vh;
    width: 40%;
    margin: 0;
    flex-direction: column;
    margin-top: 90px;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

#guesses{
  outline: none;
  border: 1px solid white;
  padding: 7px 15px;
}

#submitbtn{
    background-color: bisque;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
